* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aquamarine;
}

.title {
  margin: 30px 20px;
  font-size: 50px;
  text-align: center;
}
.main-container {
  width: 600px;
  height: 600px;

  background-color: white;
  margin: auto;
  display: flex;

  flex-wrap: nowrap;
}

.squares {
  width: 13px;
  height: 13px;
  border: 1px solid black;
}

.squares-button {
  width: 200px;
  height: 50px;
  margin: auto;
}
.button {
  width: 600px;
  height: 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
